version: '3.6'

services:
  app:
    build:
      context: .
      target: dev
    environment:
      DB_CONN: user:password@tcp(db:3306)/test
    volumes:
      - ".:/go/src/chrisbrindley.co.uk"
  db:
    environment:
      MYSQL_USER: '***'
      MYSQL_PASSWORD: '***'
      MYSQL_DATABASE: '***'