version: '3.6'

services:
  app:
    build:
      context: .
      target: dev
    environment:
      MYSQL_USER: '***'
      MYSQL_PASSWORD: '***'
      MYSQL_DATABASE: '***'
    volumes:
      - ".:/go/src/chrisbrindley.co.uk"
  db:
    environment:
      MYSQL_USER: '***'
      MYSQL_PASSWORD: '***'
      MYSQL_DATABASE: '***'