{{define "content"}}
<div class="control has-icons-left">
  <input class="input" type="email" placeholder="Email">
  <span class="icon is-left">
    <i class="fas fa-envelope"></i>
  </span>
</div>
<div class="control has-icons-left">
  <input class="input" type="password" placeholder="Password">
  <span class="icon is-left">
    <i class="fas fa-lock"></i>
  </span>
</div>
{{end}}