<!DOCTYPE html>
<html>
<head>
	<title>Chris Brindley homepage</title>
</head>
<body>
	<h1>Frequently asked questions</h1>
	<dl>
		<dt>What is this website?</dt>
		<dd>Just a project to help learn go!</dd>
	</dl>
</body>
</html>